
<div class="auth-shell">
  <div class="auth-visual d-none d-lg-flex">
    <div class="auth-visual__brand">ManageBug</div>
  </div>

  <div class="auth-panel">

    <div class="auth-card">
      <h2>Login</h2>
      <p class="auth-subtitle">PLease enter your login details</p>

    
      <%= render "registrations/error_messages", resource: resource %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "auth-form", multipart: true }) do |f| %>
        <div class="mb-3">
        
          <%= f.label :email, class: "form-label auth-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control auth-input" %>
        </div>

  

        <div class="mb-3">
          <%= f.label :password, class: "form-label auth-label" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control auth-input" %>
          
        </div>


        

        <div class="d-flex gap-2 flex-wrap">
          <%= f.submit "Log In", class: "btn btn-primary auth-submit auth-submit--inline" %>
        </div>
         <div class="auth-footer">
          <%= link_to 'Forgot your password?', new_user_password_path %>
        </div>
      <% end %>

      <div class="auth-footer">
        <span>Don't have an account?</span>
        <%= link_to "Create account", select_role_path %>
    
      </div>
    </div>
  </div>
</div>
<%= render "devise/shared/links" %>
